CI=false
RUN_LIVE_TESTS=true

DRMARTENS_AU_URL=https://stag-drmartens-au.accentgra.com/
DRMARTENS_NZ_URL=https://stag-drmartens-nz.accentgra.com/
PLATYPUS_AU_URL=https://stag-platypus-au.accentgra.com/
PLATYPUS_NZ_URL=https://stag-platypus-nz.accentgra.com/
SKECHERS_AU_URL=https://stag-skechers-au.accentgra.com/
SKECHERS_NZ_URL=https://stag-skechers-nz.accentgra.com/
VANS_AU_URL=https://stag-vans-au.accentgra.com/
VANS_NZ_URL=https://stag-vans-nz.accentgra.com/
